<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add country</title>
</head>
<body>
<h3>Add country</h3>
<form method="post" th:action="@{/post/admin/addcountry}" th:object="${addCountry}">
    Enter country: <input type="text" th:field="*{country}">
    <br>
    <label>Select continent:</label>
    <select th:field="*{continentEntity.continentId}">
        <option th:each="dropDownContinent: ${continentsList}"
                th:value="${dropDownContinent.continentId}"
                th:text="${dropDownContinent.continent}"
        />
    </select>
    <br>
    <input type="submit" value="add">
</form>
</body>
</html>