<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Single Post</title>
</head>
<body>
<h1>Singe post</h1>

    <p th:text="${post.postTitle}"></p>
    <p th:text="${post.postDescription}"></p>
    <span th:text="${post.price}"></span>
    <label>PLN</label>
    <p th:text="${post.vacancy}"></p>
    <p th:text="${post.startDate}"></p>
    <p th:text="${post.endDate}"></p>
    <p th:text="${post.type}"></p>
    <br>
<button type="button">Buy</button>

</body>
</html>