<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart Elements</title>
</head>
<body>

<h3>Shopping Cart:</h3>

<table cellpadding="2" cellspacing="2" border="1">
    <tr>

        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
     <!--   <th>Photo</th>-->
        <th>No of travellers</th>
        <th>Price per person</th>
        <th>Remove item</th>
       <!-- <th>Sub Total</th>-->
    </tr>
<form method="post" th:action="@{/cart}" th:object="${cart}">

    <div th:each="item, stat : ${cart.items}">

        <tr>

           <td><span th:text="${item.itemId}"></span></td>
            <td><span th:text="${item.postEntity.postTitle}"></span></td>
            <td><span th:text="${item.postEntity.postDescription}"></span></td>
<!--            <td><input type="number" th:field="${item[__${stat.index}__}]numberOfTravelers}"></td>-->
            <td><input type="number" th:field="*{items[__${stat.index}__].numberOfTravelers}"></td>
            <input type="hidden" th:field="*{items[__${stat.index}__].itemId}">
            <td><span th:text="${item.postEntity.price}"></span><label> PLN</label></td>
            <td align="center"><a th:href="@{'/cart/remove/'+${item.itemId}}"
                                  onclick="return confirm('Are you sure?')">Remove</a></td>

      <!--      <td>
            <div th:with="result=${item.numberOfTravelers *item.postEntity.price}">
                <span th:text="${result}"></span>
            </div>
          </td>-->
        </tr>

  </div>

</form>
</table>
<br>

<h4 th:text=" 'Total: ' +${totalPrice} + ' PLN'"></h4>
<a href="/homepage">Continue Shopping</a>
<br>
<a href="/order">Corfirm</a>
</body>
</html>