<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Summary form</title>
</head>
<body>
<h3>Summary:</h3>
<label>First name: </label>
        <span th:text="${user.firstName}"></span><br>
<label>Last name: </label>
        <span th:text="${user.lastName}"></span><br>
<label>E-mail: </label>
        <span th:text="${user.email}"></span>


    <br>

    <h4 th:text=" 'Total to pay: ' +${totalPrice} + ' PLN'"></h4>


<input type="submit" value="Buy chosen travels">
</body>
</html>