<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Summary form</title>
</head>
<body>
<table>
    <tr>

        <th>First name: </th>
        <th>Last name:</th>
        <th>E-mail:</th>

    </tr>
    <tr>

        <td>First name: </td>
        <td>Last name:</td>
        <td>E-mail:</td>

    </tr>
    <br>
</table>
<table>
    <tr>

        <th>Id</th>
        <th>Title</th>
        <th>No of travellers</th>
        <th>Price per person</th>
    </tr>
    <tr>

        <!--<td><span th:text="${item.itemId}"></span></td>
        <td><span th:text="${item.postEntity.postTitle}"></span></td>
        &lt;!&ndash;            <td><input type="number" th:field="${item[__${stat.index}__}]numberOfTravelers}"></td>&ndash;&gt;
        <td><input type="number" th:field="*{items[__${stat.index}__].numberOfTravelers}"></td>
        <input type="hidden" th:field="*{items[__${stat.index}__].itemId}">
        <td><span th:text="${item.postEntity.price}"></span><label> PLN</label></td>-->
    </tr>
    <h4 th:text=" 'Total: ' +${totalPrice} + ' PLN'"></h4>

</table>
<input type="submit" value="Buy chosen travels">
</body>
</html>