<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
</head>
<body>

<h1> Home Page - Travel Agency</h1>
<a th:href="@{/login}">login</a>
<a th:href="@{/logout}">logout</a>
<a th:href="@{/post/admin/adminpanel}">Admin panel</a>

<form id="search"  method="get" th:action="@{/homepage}" th:object="${criteriaForm}">
    <br>
    <select class="reload-page" name="continentId">
        <option th:each="dropDownContinent: ${continentsList}"
                th:value="${dropDownContinent.continentId}"
                th:text="${dropDownContinent.continent}"
        />
    </select>

    <select class="reload-page" name="countryId">
        <option th:each="dropDownCountry: ${countriesList}"
                th:value="${dropDownCountry.countryId}"
                th:text="${dropDownCountry.country}"
        />

    </select>
    <select class="reload-page" name="cityId">
        <option th:each="dropDownCity: ${citiesList}"
                th:value="${dropDownCity.cityId}"
                th:text="${dropDownCity.city}"
        />
    </select>
<!--    <select>
         <option th:each="dropDownHotel : ${hotelsListByStandard}"
            th:value="${dropDownHotel.hotelId}"
            th:text="${dropDownHotel.standard}"
        />
    </select>-->
    <!--
 <select th:field="*{hotelEntity.hotelId}>
     <option th:each="dropDownHotel : ${hotelsList}"
             th:value="${dropDownHotel.hotelId}"
             th:text="${dropDownHotel.name}"
     />
 </select>
 -->

    <input type="submit" value="select">
    <!-- <input type="button" value="find">-->
</form>

<div>
    <h3>All travels:</h3>
    <div th:each="post : ${allPosts}">
        <p th:text="${post.postTitle}"></p>
        <p th:textarea="${post.postDescription}"></p>
        <label>Price: </label>
        <span th:text="${post.price}">price: </span>
        <label>PLN</label>
        <br>
        <label>Start date:</label>
        <span th:text="${post.startDate}">start date: </span>
        <br>
        <label>End date:</label>
        <span th:text="${post.endDate}">end date: </span>
        <br>
        <label>Type:</label>
        <span th:text="${post.type}"></span>
        <a th:href="@{/post/{id}(id=${post.postId})}">See details</a>
        <br>
        <hr/>
    </div>
</div>
<!-- <h3>Promoted:</h3>
 <div th:each="post : ${allPosts}">
     <div th:if="${post.isPromoted}">

         <p th:text="${post.postTitle}"></p>
         <p th:textarea="${post.postDescription}"></p>
         <p th:text="${post.price}"></p>
         <p th:text="${post.startDate}"></p>
         <p th:text="${post.endDate}"></p>
         <p th:text="${post.type}"></p>
         <a th:href="@{/post/{id}(id=${post.postId})}">See details</a>
         <br>

         <hr/>
     </div>
 </div>-->

</body>
<script>
    $(document).ready(function () {
        $('.reload-page').change(function () {
            $('#search').submit()
        });
    });
</script>

</html>